EXECUTION_ENV=fh_cluster_shared_storage
SPARK_MASTER_URL=spark://<fh-spark-master-host>:7077
KAFKA_BOOTSTRAP_SERVERS=<fh-kafka-broker-host>:9092
KAFKA_TOPIC_AIR_QUALITY_LIVE=bdeng_gXX_air_quality_live
DATA_DIR=<confirmed_shared_storage_path>/euro-air-quality-pipeline/data
CHECKPOINT_DIR=<confirmed_shared_storage_path>/euro-air-quality-pipeline/checkpoints
