EXECUTION_ENV=local_project
SPARK_MASTER_URL=local[*]
CLUSTER_SPARK_MASTER_URL=spark://<fh-spark-master-host>:7077
KAFKA_BOOTSTRAP_SERVERS=<kafka-host>:9092
KAFKA_TOPIC_AIR_QUALITY_LIVE=bdeng_gXX_air_quality_live
DATA_DIR=data
CHECKPOINT_DIR=data/checkpoints
PROJECT_TIMEZONE=UTC
LOG_LEVEL=INFO
